<table class="table">
  <tbody>
    <div *ngIf="dishes">
      <div *ngFor="let dish of dishes">
        <tr>
          <td><img src="{{ 'http://localhost:3000/' + dish.image }}"
              class="rounded mx-auto d-block card-img-top img-fluid" alt="{{ dish.name }}"></td>
          <td>
            <h5 class="card-title">{{ dish.name |uppercase }}</h5>
            <p class="card-text">{{ dish.description }}</p>
            <p>
              Size -- Price per Unit: &nbsp;
              <select id="size" name="size">
                <option value="small">Half -- {{dish.s_price |currency:'INR'}}</option>
                <option value="large">Full -- {{dish.l_price |currency:'INR'}}</option>
              </select>
              &nbsp; &nbsp;
              Quantity: &nbsp;
              <input type="number" name="quantity" id="quantity" min="0" max="10" value=0>
            </p>
            <p>
              <button type="button" class="btn btn-danger">ADD</button>
            </p>

          </td>
        </tr>
      </div>
      <br>
      <p>
        <button type="submit" class=" mx-auto d-block btn btn-lg btn-danger">
          <a class="text-white" href="/pay">
            CHECKOUT
          </a>
        </button>
      </p>
    </div>
    <div fxFlex *ngIf="!dishes">
      <h2>Error</h2>
      <h4>There is some issue. Please make sure json server is running.</h4>
    </div>
  </tbody>
</table>
